<asidde id="sidebar">

	<ul>
		<li>
			<a href="./">O Festivale</a>
		</li>

		<li></li>

		<li>
			<a href="./page1.html">
				Javornícke ozveny XI.
				<small>40. výročie založenia folklórnej skupiny</small>
			</a>
		</li>

		<li>
			<a href="./page1.html">
				Javornícke ozveny X.
				<small>Piesne a zvyky letného obdobia</small>
			</a>
		</li>

		<li class="active">
			<a href="./page1.html">
				Javornícke ozveny IX.
				<small>Fašiangy, fašiangy, Veľká noc idze...</small>
			</a>
		</li>

		<li>
			<a href="./page1.html">
				Javornícke ozveny VIII.
				<small>Podoby dávnych Vianoc</small>
			</a>
		</li>

		<li>
			<a href="./page1.html">
				Javornícke ozveny VII.
				<small>Balady a príbehy</small>
			</a>
		</li>

		<li>
			<a href="./page1.html">
				Javornícke ozveny VI.
				<small>Ľudové tance a žartovné piesne</small>
			</a>
		</li>

		<li>
			<a href="./page1.html">
				Javornícke ozveny V.
				<small>Dedičstvo ľudovej hudobnej kultúry z dolín Javorníkov</small>
			</a>
		</li>

		<li>
			<a href="./page1.html">
				Javornícke ozveny IV.
				<small>Drotárstvo a vysťahovalectvo</small>
			</a>
		</li>

		<li>
			<a href="./page1.html">
				Javornícke ozveny III.
				<small>Poľnohospodárstvo</small>
			</a>
		</li>

		<li>
			<a href="./page1.html">
				Javornícke ozveny II.
				<small>Parstierstvo</small>
			</a>
		</li>

		<li>
			<a href="./page1.html">
				Javornícke ozveny I.
				<small>Úvodný ročník</small>
			</a>
		</li>

	</ul>

</asidde>

